body
{
	font-family: Arial, Helvetica, sans-serif;
	padding: 32px;
	background-color: #efefef;
}

form {
	display: block;
	max-width: 400px;
	margin: auto;
}

input, select, textarea, button {
	display: block;
	width: 100%;
	box-sizing: border-box;
	margin: 1em;
	padding: 0.5em;
}